*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    /* line-height: 1.6rem; */
}

/***********************************
            Navigation 
************************************/

nav {
    background-color: #454545;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
    /* used padding below instead of height and line height */
    /* padding: 1.5rem 0 1.5rem 0; */
}

.nav-wrapper{
    /* max-width: 1250px; */
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-wrapper .logo a,
.nav-links li a {
    color: #ebebeb;
    text-decoration: none;
}

.nav-wrapper .logo a {
    font-size: 1.5em;
    font-weight: 600;
}

.nav-wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a{
    font-weight: 400;
    padding: .5rem 1rem;
    border-radius: .30rem;
    transition: all 0.3s ease;
}

.nav-links li a:hover{
    background: #292929;
}

.nav-links .drop-menu{
    background: #454545;
    width: 10rem;
    top: 3.5rem;
    line-height: 2.5rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .drop-menu{
    top: 3.5rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.nav-links .drop-menu li a{
    width: auto;
    display: block;
    padding: 0 0 0 1rem;
    border-radius: .3rem;
}

/***********************************
           Media Queries 
************************************/

@media (min-width:200px) and (max-width:390px) {
}

@media (min-width: 320px) and (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 980px) {
    .nav-wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 20rem;
        background: #454545;
        display: block;
        top: 0;
        left: 0;
        /* overflow-y: auto; */
        line-height: 3rem;
        padding: 3rem .75rem;
        box-shadow: 0 .8rem .8rem rgba(0,0,0,0.15);
    }

    .nav-links li {
        margin: .8rem .75rem;
        /*  15px .80rem
            10px .75rem
            20px .90rem */
    }

    .nav-links li a{
        padding: 0 .9rem;
        display: block;
        font-size: .9em;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        top: 3rem;
        padding-left: 1rem;
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    #drop-menu-showdrop:checked ~ .drop-menu{
        max-height: 100%;
    }

    .nav-links .drop-menu li {
        margin: 0;
    }

    .nav-links .drop-menu li a {
        font-size: .85em;
        border-radius: .3rem;
    }

    .nav-links .desktop-drop-menu {
        display: none;
    }

    .nav-links .mobile-drop-menu {
        display: block;
        font-size: .90em;
        color: #ebebeb;
        font-weight: 500;
        padding-left: .90rem;
        cursor: pointer;
        border-radius: .3rem;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-drop-menu:hover {
        background: #292929;
    }

    .nav-wrapper input {
        display: none;
    }

    .nav-wrapper btn {
        color: #ebebeb;
    }
}

@media (min-width: 981px) {
    nav{
        height: 65px;
        line-height: 65px;
    }

    .nav-wrapper{
        /* max-width: 1250px; */
        padding: 0 30px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-wrapper .logo a {
        font-size: 1.5em;
        font-weight: 600;
    }

    .nav-wrapper .nav-links {
        display: inline-flex;
    }

    .nav-links li a{
        font-weight: 400;
        padding: .5rem 1rem;
        border-radius: .30rem;
        transition: all 0.3s ease;
    }

    .nav-links .drop-menu{
        background: #454545;
        width: 10rem;
        top: 3.5rem;
        line-height: 2.5rem;
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

    .nav-links li:hover .drop-menu{
        top: 3.5rem;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
    }

    .drop-menu li a{
        width: auto;
        display: block;
        padding: 0 0 0 1rem;
        border-radius: 0px;
    }

    .nav-links .mobile-drop-menu {
        display: none;
    }
}
